Repository architectury/architectury-api, pull requests merged in 2021-07, with the labels that each got.

#115 Wrapper for BlockEntityType.Builder
  common/src/main/java/dev/architectury/hooks/block/BlockEntityHooks.java
  common/src/main/resources/architectury.accessWidener
  fabric/src/main/resources/architectury.accessWidener
  gradle.properties
Labels: api, enhancement, last call, new feature, priority: high

#118 Make ColorHandlers wildcard, fix #114
  common/src/main/java/me/shedaniel/architectury/registry/ColorHandlers.java
  fabric/src/main/java/me/shedaniel/architectury/registry/fabric/ColorHandlersImpl.java
  forge/src/main/java/me/shedaniel/architectury/registry/forge/ColorHandlersImpl.java
Labels: api, enhancement, last call, priority: medium

#119 Allow adding supplied effects to FoodProperties
  common/src/main/java/me/shedaniel/architectury/hooks/FoodPropertiesHooks.java
  fabric/src/main/java/me/shedaniel/architectury/hooks/fabric/FoodPropertiesHooksImpl.java
  forge/src/main/java/me/shedaniel/architectury/hooks/forge/FoodPropertiesHooksImpl.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/registry/TestRegistries.java
Labels: api, enhancement, last call, new feature, priority: medium, testmod

#120 Added SimpleNetworkManager
  build.gradle
  common/src/main/java/me/shedaniel/architectury/networking/simple/BaseC2SMessage.java
  common/src/main/java/me/shedaniel/architectury/networking/simple/BaseS2CMessage.java
  common/src/main/java/me/shedaniel/architectury/networking/simple/Message.java
  common/src/main/java/me/shedaniel/architectury/networking/simple/MessageDecoder.java
  common/src/main/java/me/shedaniel/architectury/networking/simple/MessageType.java
  common/src/main/java/me/shedaniel/architectury/networking/simple/SimpleNetworkManager.java
  gradle.properties
  testmod-common/src/main/java/me/shedaniel/architectury/test/TestMod.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/networking/ButtonClickedMessage.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/networking/SyncDataMessage.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/networking/TestModNet.java
Labels: api, enhancement, last call, new feature, priority: medium, testmod
