Repository architectury/architectury-api, pull requests merged in 2021-05, with the labels that each got.

#83 Adds EntityAttributes
  common/src/main/java/me/shedaniel/architectury/registry/entity/EntityAttributes.java
  fabric/src/main/java/me/shedaniel/architectury/registry/entity/fabric/EntityAttributesImpl.java
  forge/src/main/java/me/shedaniel/architectury/registry/entity/forge/EntityAttributesImpl.java
Labels: api, enhancement, last call, new feature

#84 Add an easy way to register Villager and Wandering Trader trades
  common/src/main/java/me/shedaniel/architectury/registry/trade/SimpleTrade.java
  common/src/main/java/me/shedaniel/architectury/registry/trade/TradeRegistry.java
  fabric/src/main/java/me/shedaniel/architectury/registry/trade/fabric/TradeRegistryImpl.java
  forge/src/main/java/me/shedaniel/architectury/registry/trade/forge/TradeRegistryImpl.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/TestMod.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/trade/TestTrades.java
Labels: api, enhancement, last call, new feature, priority: medium, testmod

#87 Fix TradeRegistryImpl classes. With the private access modifier the a…
  fabric/src/main/java/me/shedaniel/architectury/registry/trade/fabric/TradeRegistryImpl.java
  forge/src/main/java/me/shedaniel/architectury/registry/trade/forge/TradeRegistryImpl.java
Labels: bug, priority: high

#92 Created Chunk save and load event. Closes #89
  common/src/main/java/me/shedaniel/architectury/event/events/ChunkEvent.java
  fabric/src/main/java/me/shedaniel/architectury/mixin/fabric/MixinChunkMap.java
  fabric/src/main/java/me/shedaniel/architectury/mixin/fabric/MixinChunkSerializer.java
  fabric/src/main/resources/architectury.mixins.json
  forge/src/main/java/me/shedaniel/architectury/event/forge/EventHandlerImplCommon.java
  forge/src/main/java/me/shedaniel/architectury/mixin/forge/MixinChunkSerializer.java
  forge/src/main/java/me/shedaniel/architectury/mixin/forge/MixinWorldEvent.java
  forge/src/main/resources/architectury.mixins.json
  gradle.properties
  testmod-common/src/main/java/me/shedaniel/architectury/test/events/DebugEvents.java
Labels: api, enhancement, last call, testmod

#88 New utility hook for creating a entity spawn packet. before every mod…
  common/src/main/java/me/shedaniel/architectury/networking/NetworkManager.java
  fabric/src/main/java/me/shedaniel/architectury/init/fabric/ArchitecturyClient.java
  fabric/src/main/java/me/shedaniel/architectury/networking/fabric/NetworkManagerImpl.java
  fabric/src/main/java/me/shedaniel/architectury/networking/fabric/SpawnEntityPacket.java
  forge/src/main/java/me/shedaniel/architectury/networking/forge/NetworkManagerImpl.java
  gradle.properties
  testmod-common/src/main/java/me/shedaniel/architectury/test/TestMod.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/entity/TestEntity.java
  testmod-common/src/main/java/me/shedaniel/architectury/test/registry/TestRegistries.java
Labels: api, enhancement, last call, priority: medium, testmod

#99 Fix #98
  .editorconfig
  forge/src/main/resources/architectury.mixins.json
Labels: bug
