Repository architectury/architectury-api, pull requests merged in 2022-07, with the labels that each got.

#295 Fix Support for 41.0.94
  forge/src/main/java/dev/architectury/event/forge/EventHandlerImplClient.java
  forge/src/main/java/dev/architectury/event/forge/EventHandlerImplCommon.java
  forge/src/main/java/dev/architectury/hooks/item/forge/ItemStackHooksImpl.java
  forge/src/main/java/dev/architectury/hooks/item/tool/forge/HoeItemHooksImpl.java
  forge/src/main/java/dev/architectury/mixin/forge/MixinChunkSerializer.java
  forge/src/main/java/dev/architectury/mixin/forge/MixinLevelEvent.java
  forge/src/main/java/dev/architectury/networking/forge/NetworkManagerImpl.java
  forge/src/main/java/dev/architectury/platform/forge/PlatformImpl.java
  forge/src/main/java/dev/architectury/registry/menu/forge/MenuRegistryImpl.java
  forge/src/main/resources/META-INF/mods.toml
  forge/src/main/resources/architectury.mixins.json
  gradle.properties
Labels: bug, priority: high, Forge, 1.19

#298 Add WorldGen testmod
  testmod-common/src/main/java/dev/architectury/test/TestMod.java
  testmod-common/src/main/java/dev/architectury/test/worldgen/TestWorldGeneration.java
Labels: enhancement, testmod, priority: medium, small change, 1.19

#287 Add loot table modification event
  common/src/main/java/dev/architectury/event/events/common/LootEvent.java
  fabric/src/main/java/dev/architectury/event/fabric/EventHandlerImpl.java
  fabric/src/main/java/dev/architectury/event/fabric/LootTableModificationContextImpl.java
  forge/src/main/java/dev/architectury/event/forge/EventHandlerImplCommon.java
  forge/src/main/java/dev/architectury/event/forge/LootTableModificationContextImpl.java
  testmod-common/src/main/java/dev/architectury/test/TestMod.java
  testmod-common/src/main/java/dev/architectury/test/loot/TestLoot.java
Labels: enhancement, last call, priority: medium

#302 Update to 1.19.1
  common/src/main/java/dev/architectury/core/item/ArchitecturyRecordItem.java
  common/src/main/java/dev/architectury/event/events/client/ClientChatEvent.java
  common/src/main/java/dev/architectury/event/events/common/ChatEvent.java
  common/src/main/java/dev/architectury/event/events/common/CommandRegistrationEvent.java
  common/src/main/java/dev/architectury/impl/ChatProcessorImpl.java
  common/src/main/resources/architectury.accessWidener
  fabric/build.gradle
  fabric/src/main/java/dev/architectury/event/fabric/EventHandlerImpl.java
  fabric/src/main/java/dev/architectury/impl/fabric/ChatComponentImpl.java
  fabric/src/main/java/dev/architectury/impl/fabric/EventChatDecorator.java
  fabric/src/main/java/dev/architectury/mixin/fabric/MixinCommands.java
  fabric/src/main/java/dev/architectury/mixin/fabric/MixinMinecraftServer.java
  fabric/src/main/java/dev/architectury/mixin/fabric/MixinServerGamePacketListenerImpl.java
  fabric/src/main/java/dev/architectury/mixin/fabric/client/MixinChatListener_1.java
  fabric/src/main/java/dev/architectury/mixin/fabric/client/MixinChatListener_2.java
  fabric/src/main/java/dev/architectury/mixin/fabric/client/MixinGui.java
  fabric/src/main/java/dev/architectury/mixin/fabric/client/MixinLocalPlayer.java
  fabric/src/main/java/dev/architectury/mixin/fabric/client/MixinMinecraft.java
  fabric/src/main/resources/architectury.mixins.json
  forge/build.gradle
  forge/src/main/java/dev/architectury/event/forge/EventHandlerImplClient.java
  forge/src/main/java/dev/architectury/event/forge/EventHandlerImplCommon.java
  forge/src/main/resources/META-INF/mods.toml
  gradle.properties
  testmod-common/src/main/java/dev/architectury/test/events/DebugEvents.java
Labels: breaking, enhancement, priority: low, testmod, api, 1.19

#305 Fix ParticleProviderRegistry not working properly on Forge, add Javadocs
  common/src/main/java/dev/architectury/registry/client/particle/ParticleProviderRegistry.java
  forge/src/main/java/dev/architectury/registry/client/particle/forge/ParticleProviderRegistryImpl.java
  gradle.properties
  testmod-common/src/main/java/dev/architectury/test/particle/TestParticles.java
  testmod-common/src/main/resources/assets/architectury_test/particles/test_particle.json
  testmod-forge/src/main/resources/assets/architectury_test/particles/test_particle.json
Labels: bug, priority: high, 1.18, small change
