Repository architectury/architectury-api, pull requests merged in 2024-02, with the labels that each got.

#475 Add ClientTooltipComponentRegistry for custom tooltips
  common/src/main/java/dev/architectury/registry/client/gui/ClientTooltipComponentRegistry.java
  fabric/src/main/java/dev/architectury/registry/client/gui/fabric/ClientTooltipComponentRegistryImpl.java
  forge/src/main/java/dev/architectury/registry/client/gui/forge/ClientTooltipComponentRegistryImpl.java
  testmod-common/src/main/java/dev/architectury/test/TestMod.java
  testmod-common/src/main/java/dev/architectury/test/registry/TestRegistries.java
  testmod-common/src/main/java/dev/architectury/test/registry/objects/ItemWithTooltip.java
Labels: last call, testmod, api, new feature, priority: medium, 1.19

#473 SpawnPlacements.register Hook (Closes architectury/architectury-api#375)
  common/src/main/java/dev/architectury/registry/level/entity/SpawnPlacementsRegistry.java
  fabric/src/main/java/dev/architectury/registry/level/entity/fabric/SpawnPlacementsRegistryImpl.java
  forge/src/main/java/dev/architectury/registry/level/entity/forge/SpawnPlacementsRegistryImpl.java
Labels: last call, priority: low, api, 1.19

#467 Make ArchitecturyFlowingFluid use the same Forge FluidType when the s…
  forge/src/main/java/dev/architectury/core/fluid/forge/imitator/ArchitecturyFlowingFluid.java
Labels: bug, last call, priority: high, Forge, small change, 1.19
